/*Form styles*/
div.field_set {margin-bottom:1px;padding-top:1px;}
div.field_set p.intro {color:#000000;font-size:1px;margin:0 0 1px;padding:0;}

.field_set .fields #subnetClass{padding:1px 0;}

.field_set .row,
.field_set .information_row {
	border-bottom:1px solid #000000;
	padding:1px 0;
}
.field_set .row:nth-child(2n),
.field_set .information_row:nth-child(2n) {
	background-color:#dddddd;
}
.field_set .information_row {
	padding:1px 0;
}


.row .label,
.information_row .label {
	width:170px;
	display: inline-block;
}
.row .label .notice,
.information_row .label .notice {
	font-size: 0.8em;
	color: #999999;
}

.row .field,
.information_row .field {
	display: inline;
	margin-top:1px;
}

#subnetClass .radio {margin-right:1px;}
#subnetClass .radio_margin {margin-left:10px;}
select { 
		height: 35px;
		min-width: 170px; 
		max-width: 200px;
		margin-bottom: 0.5rem;
		}